{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row" style="margin-top:100px">
        <div class="col-sm-12 text-center">
            <h2 style="font-weight:bold">Website is under maintenance and will be back very soon</h2>
        </div>
    </div>
    <div class="row" >
        <img style="display: block;margin-left: auto; margin-right: auto"
         src="https://www.freeiconspng.com/uploads/maintenance-icon-7.png" alt="">
    </div>
</div>

{% endblock %}