{% load static %}
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <form>
      <i class="fa fa-arrow-left" aria-hidden="true" style="color:white; font-size: 30px; margin-right: 30px" onclick="history.back()"></i>
    </form>
    <a class="navbar-brand" href="{% url 'main:original_home' %}">
        <img src="{% static 'img/logo.png' %}" alt="kadence"
        style="width:100px">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:logout' %}">Logout<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
    <form>
        <i class="fa fa-arrow-right" id="btnfd" onclick="history.forward()" aria-hidden="true" style="color:white; font-size: 30px; margin-right: 0px" onclick="backbutton()"></i>
      </form>
  </nav>
  </div>

  <script>
  function backbutton(){
      if(history.forward() == undefined){
        document.getElementById(btnfd).style.display = "none";
      }
  }
  window.onload=backbutton();
  </script>