{% extends "base.html" %}
{% load mathfilters%}
{% block content %}

<div class="container" style="font-family:Georgia, 'Times New Roman', Times, serif">
    <div class="row" style="margin-top:20px">
        <div class="col-sm-12 text-center">
        <h3 style="text-decoration:underline;font-weight:bold">{{ request.user.username|title }}</h3>
        </div>
    </div>

    {% if tablets.count == 0 %}
    <div class="row" style=" margin-top:50px">
        <div class="col-sm-12 text-center">
    <h4>No tablets to be received </h4>
    </div>
    </div>
    {% else %}
    <form action="{% url 'main:mark_received' %}" method="POST">
      {% csrf_token %}
        <div class="row">
            <div class="col-sm-10"></div>
            <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Mark Received">
          </div>
          </div>
            <table class="table table-bordered" id="table" style="margin-top:30px">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">IMEI</th>
                        <th scope="col">Tablet ID</th>
                        <th scope="col">Date Allotted</th>
                        <th scope="col"><input type="checkbox" id="allcheck" onclick="checkall()" style="margin-right:10px">
                          Mark</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for d in tablets %}
                      <tr>
                    
                        <th scope="row">{{ d.imei }}</th>
                        <td>
                            {{ d.tab_id }}
                        </td>
                        <td>{{ d.allotted_date }}</td>
                        <td>
                          <input type="checkbox" id="check{{ forloop.counter }}" name="check{{ forloop.counter }}" value="{{ d.id }}">
                          <input type="hidden" id="counting" name="counting" value="{{ tablets.count }}">
                        </td>
                
                        
                      </tr>
                      
                    {% endfor %}
                    </tbody>
                  </table>
                  
                </form>
                  {% endif %}
</div>

<script>
function checkall(){
  counts=document.getElementById("counting").value;
  var i;
  for(i=1;i<=counts;i++){
    var ac=document.getElementById("allcheck").checked;
    var cname="check"+i;
    var c=document.getElementById(cname).checked = ac;
  }
}
</script>
{% endblock %}
