{% autoescape off%}
{% load mathfilters %}
<div class="container">
    
    <div class="row">
        You have been allotted {{ imei|length }} tablets at {{ adate }} / {{ atime }}
    </div>
    <div class="row">
        Tablet Details:
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr style="font-size:10px">
                <th scope="col" class="text-center">IMEI</th>
                <th scope="col" class="text-center">Brand</th>
                <th scope="col" class="text-center">Tablet ID</th>
            </tr>
            <tbody>
                {% for i in imei %}
            <tr>    
                <td>
                   {{ i.0 }}
                </td>
                <td>
                    {{ i.1 }}
                </td>
                <td>
                    {{ i.2 }}
                </td>
                
            </tr>
            {% endfor %}
            </tbody>
        </thead>
    </table>
</div>
{% endautoescape %}