{% extends "base.html" %}
{% load mathfilters%}
{% load appfilters %}
{% block content %}

<div class="container" style="font-family:Georgia, 'Times New Roman', Times, serif">

    {% for message in messages %}
        <div class="row">
            <h4 style="color:red; margin-top:20px">{{ message }}</h4>
        </div>
    {% endfor %}
    <div class="row text-center label-info" style="color:royalblue;margin-top:50px;color:white">
            <!-- <div class="col-sm-2">
                <label>Allottment</label>
            </div> -->
            <div class="col-sm-3" style="border-right:1px solid;background: rgb(34, 34, 34)">
                <label>IMEI Number</label>
            </div>
            <div class="col-sm-2" style="border-right:1px solid;background: rgb(34, 34, 34)">
                <label>ID</label>
            </div>
            <div class="col-sm-2" style="border-right:1px solid;background: rgb(34, 34, 34)">
                <label>Date</label>
            </div>
            <div class="col-sm-2" style="border-right:1px solid;background: rgb(34, 34, 34)">
                <label>Center</label>
            </div>
        </div>
    
    <form id="myform" action="{% url 'main:transfer' %}" method="POST" style="margin-top:20px">
        {% csrf_token %}
    <div class="row" id="r1" style="margin-top:10px">
        <!-- <div class="col-sm-2">
            <input type="text" class="form-control" name="allotment" id="allot" placeholder="Allottment">
        </div> -->
        <div class="col-sm-3">
            <input type="text" name="im" placeholder="IMEI Number" class="form-control" value="{{ tab_detail.imei }}">
        </div>
        <div class="col-sm-2">
            <input type="text" name="tid" placeholder="Tablet ID" class="form-control" value="{{ tab_detail.tab_id }}">
        </div>
        <div class="col-sm-2">
            <input type="date" name="date" id='dat' class="form-control">
        </div>
        <div class="cl-sm-2">
                <select type="select" name="center" class="form-control">
                    {% if tab_detail.damaged == True %}
                        <option style="padding:20px" value = "5">Delhi</option>
                    {% else %}

                    {% for d in centers_name %}
                    {% if d.name != center_id|get_name %}
                        <option style="padding:20px" value = "{{ d.center_id }}">{{ d.name }}</option>
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                </select>
        </div>
        <div class="col-sm-0">
            <input type="hidden" name="ids" value="{{ tab_detail.id }}">
        </div>
        <div class="col-sm-2">
            <input type="submit" class="form-control btn btn-info" value="Send">
        </div>
        <div class="col-sm-0">
            <input type="hidden" name="cid" value="{{ center_id }}">
        </div>
        
    </div>
    </form>
    </div>
</div>

<script>
function dateset(){
var myDate = document.getElementById('dat');
var today = new Date();
myDate.value = today.toISOString().substr(0, 10);

}
window.onload=dateset();
</script>
{% endblock %}

